bank.web/wsdl/NetsWsdl.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ejb.bank.eamv.dk/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ForeignEntryNetsBeanService" targetNamespace="http://ejb.bank.eamv.dk/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ejb.bank.eamv.dk/" elementFormDefault="unqualified" targetNamespace="http://ejb.bank.eamv.dk/" version="1.0">

  <xs:element name="CreateNetsRequest" type="tns:CreateNetsRequest"/>

  <xs:element name="CreateNetsRequestResponse" type="tns:CreateNetsRequestResponse"/>

  <xs:complexType name="CreateNetsRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:entry"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="entry">
    <xs:sequence>
      <xs:element name="accountNumber" type="xs:int"/>
      <xs:element minOccurs="0" name="amount" type="xs:decimal"/>
      <xs:element minOccurs="0" name="date" type="tns:localDateTime"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element name="entryID" type="xs:long"/>
      <xs:element name="regNumber" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="localDateTime">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="CreateNetsRequestResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="CreateNetsRequest">
    <wsdl:part element="tns:CreateNetsRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateNetsRequestResponse">
    <wsdl:part element="tns:CreateNetsRequestResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ForeignEntryNetsBean">
    <wsdl:operation name="CreateNetsRequest">
      <wsdl:input message="tns:CreateNetsRequest" name="CreateNetsRequest">
    </wsdl:input>
      <wsdl:output message="tns:CreateNetsRequestResponse" name="CreateNetsRequestResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ForeignEntryNetsBeanServiceSoapBinding" type="tns:ForeignEntryNetsBean">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CreateNetsRequest">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="CreateNetsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CreateNetsRequestResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ForeignEntryNetsBeanService">
    <wsdl:port binding="tns:ForeignEntryNetsBeanServiceSoapBinding" name="ForeignEntryNetsBeanPort">
      <soap:address location="http://M13975:8080/bank.ejb/ForeignEntryNetsBean"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>